<div class="mollie-form">
  <select name="paymentMethod">
  {% for method in paymentMethods %}
    <option value="{{ method.id }}">{{ method.name }}</option>
  {% endfor %}
  </select>

  {% if issuers|length %}
      <select name="issuer">
      {% for paymentMethod, paymentMethodIssuers in issuers|group(i => i.paymentMethod) %}
        <optgroup label="{{ paymentMethodNamesById is defined ? paymentMethodNamesById[paymentMethod] ?? paymentMethod : paymentMethod }}">
          {% for issuer in paymentMethodIssuers %}
            <option value="{{ issuer.id }}">{{ issuer.name }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
      </select>
  {% endif %}
</div>
